.translation-area {
    min-height: 225px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    border-radius: 8px;
    background-color: white;
    margin: -35px auto 0 auto;
    width: 60%;
    resize: both;

    .tabs {
        height: 50px;
        display: flex;
        white-space: nowrap;
        font-family: "Roboto",arial,sans-serif;
        font-size: 20px;
        color: #5f6368;

        &__source-languages {
            display: flex;
            width: 48%;

            .language-title {
                &:hover {
                    background-color: rgba($color: #f2f2f0, $alpha: 0.7);
                }
            }
        }

        &__target-languages {
            display: flex;
            width: 52%;

            .language-title {
                &:hover {
                    background-color: rgba($color: #f2f2f0, $alpha: 0.7);
                }
            }
        }
    }
}

.text-area {
    resize: none !important;
    border: 0;
    overflow: auto;
    padding: 25px;
    font-size: 24px;
    line-height: 32px;

    &:focus {
        outline: none;
    }

    .clear-icon {
        &:hover {
            background-color: rgba($color: #f2f2f0, $alpha: 0.7);
            border-radius: 50%;
        }
    }
}