@import "@styles/vars";

.history {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 37%);
  height: 100vh;
  overflow-y: auto;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;

    &--close {
      text-align: center;
      height: 30px;
      width: 30px;
      display: inline-block;
      cursor: pointer;

      &:hover {
        background-color: $wild-sand;
        border-radius: 50%;
      }
    }
  }

  &__item {
    padding: 12px;

    &:hover {
      background-color: $black-haze;
    }

    &--title {
      display: flex;
      justify-content: space-between;
    }
  }
}

.close-icon {
  text-align: center;
  height: 30px;
  width: 30px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: $wild-sand;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.arrow-left-icon {
  margin-right: 50px;
  cursor: pointer;
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
}
