@import "vars";

.bg-amber {
  background-color: $white;
}

.bg-amber {
  background-color: $alto;
}

.bg-amber {
  background-color: $alabaster;
}

.bg-shuttle-gray {
    background-color: $shuttle-gray;
  }
