@import 'vars';

.color-white {
	color: $white;
}

.color-alto {
	color: $alto;
}

.color-alabaster {
	color: $alabaster;
}

.color-shuttle-gray {
	color: $shuttle-gray;
}

.color-fun-blue {
	color: $fun-blue;
}