.disp-inline {
	display: inline;
}

.disp-block {
	display: block;
}

.disp-flex {
	display: flex;
}

.disp-flex-column {
	display: flex;
	flex-direction: column;
}

.disp-grid {
	display: grid;
}

.disp-none {
	display: none;
}

