.disp-inline {
	display: inline;
}

.disp-block {
	display: block;
}

.disp-flex {
	display: flex;

	&__space-between {
		display: flex;
		justify-content: space-between;
	}

	&__center {
		display: flex;
		align-items: center;
	}
}

.disp-flex-column {
	display: flex;
	flex-direction: column;
}

.disp-grid {
	display: grid;
}

.disp-none {
	display: none;
}

