// colors
$white: #ffff;
$alto: #dcdcdc;
$alabaster: #fafafa;
$shuttle-gray: #5f6368;
$fun-blue: #184EA6;

// fonsts
$font-family-default : 'Product Sans',Arial,sans-serif;;

$line-height-default: 1.5;
